@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #171717;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy"), url(../fonts/Gilroy-Light.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy"), url(../fonts/Gilroy-Regular.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  src: local("Gilroy"), url(../fonts/Gilroy-Bold.woff) format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  src: local("Gilroy"), url(../fonts/Gilroy-Medium.woff) format("woff");
}
.gil-reg {
  font-family: "Gilroy Regular";
}
.gil-med {
  font-family: "Gilroy Medium";
}
.gil-bold {
  font-family: "Gilroy Bold";
}
.gil-light {
  font-family: "Gilroy Light";
}

.animated {
  animation-name: slideInUpp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
  visibility: visible;
}
@keyframes slideInUpp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.animated-down {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
  visibility: visible;
}
@keyframes slideInDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.animated-x {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
  visibility: visible;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

.onHoverShow {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

.industry-card:hover .onHoverShow {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.industry-card:hover .opacity-layer {
  opacity: 0.8;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.opacity-layer {
  opacity: 0.3;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.industry-card:hover .opacity-layer2 {
  opacity: 0.8;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.opacity-layer2 {
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
